#property_me_externsion_popup_button{
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: fixed;
    box-shadow: -5px 0px 15px rgb(0 0 0);
    z-index: 99999999;
    right: 0px;
    top: 100px;
    background-color: #252C39;
    padding: 10px
}

#property_me_extension_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#property_me_extension_header img{
    width: 60px;
}

#property_me_externsion_avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: none;
}

#property_me_extension_content{
    display: none;
}

#property_me_extension_content iframe{
    border: none;
    outline: none;
    height: 420px;
}

#property_me_externsion_drive_modal{
    position: absolute;
    left: calc(50% - 375px);
    top: calc(50% - 275px);
    background-color: white;
    z-index: 9999999999999999;
    box-shadow: 0px 0px 5px grey;
    border: 5px solid #42b8bc;
    display: none;
    border-radius: 10px;
}

#property_me_extension_modal_dialog{
    position: relative;
    border-radius: 4px;
}

#property_me_extension_modal_close_btn{
    position:absolute;
    top: 5px;
    right:5px;
    z-index: 9999999;
    cursor: pointer;
}

#property_me_extension_modal_close_btn img{
    width: 18px;
    height: 18px;
}

#property_me_externsion_drive_modal #property_me_extension_modal_iframe{
    width: 750px;
    height: 550px;
    outline: none;
    border: none;
    border-radius: 9px;
}